[user]
	name = Nevin Liber
	email = nliber@anl.gov
[color]
	ui = auto
[diff]
	tool = araxis
[difftool]
    prompt = false
[merge]
	tool = araxis
[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	required = true
	process = git-lfs filter-process
[push]
	default = simple
[init]
	defaultBranch = main
[core]
	excludesfile = /Users/nliber/.gitignore_global
