[user]
	name = Nevin Liber
	email = nevin@cplusplusguy.com
[color]
	ui = auto
[diff]
	tool = araxis
[merge]
	tool = araxis
[filter "lfs"]
	clean = git-lfs clean %f
	smudge = git-lfs smudge %f
	required = true
